/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, a, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media(max-width: 1040px) and (min-width: 770px) {
  nav {
    margin-right: 40px;
  }

  .logo {
    margin-left: 40px;
  }

  .welcome p {
    margin-top: 100px;
    font-size: 30px;
  }

  .bigButton {
    margin-bottom: 100px;
  }

  .line .col-6 {
  border-right: none;
  }

  footer .rights p{
    font-size: 11px;
  }
  
}

@media(max-width: 769px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}


  .logo {
    float: none;
    text-align: center;
  }

  nav {
    text-align: center;
  }

  nav ul {
    padding: 0;
    margin-top: 30px;
  }

  nav ul li {
    padding: 10px;
  }

  .welcome p {
    margin-top: 100px;
    font-size: 30px;
  }

  .welcome h1 {
    font-size: 50px;
  }

  .bigButton {
    margin-bottom: 100px;
  }

  .services h2 {
    margin-top: 50px;
  }

  .services .row {
    text-align: center;
  }

  .services .col-s-12 {
    padding: 0 100px;
  }

  .services .lorem {
    padding-bottom: 70px;
  }

  .portfolio h2 {
    margin-top: 0;
  }

  .portfolio .col-s-12 {
    padding: 0 50px;
  }

  .aboutUs .left {
    text-align: center;
    padding-bottom: 30px;
    padding-right: 50px;
  }

  .left p:nth-child(3){
    text-align: center;
  }

  .right p:nth-child(3) {
    text-align: center;
  }
  
  .aboutUs .col-s-12{
    text-align: center;
  }  

  .aboutUs .right {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 50px;
  }

  .aboutUs p {
    text-align: center;
  }

  .aboutUs .right {
    text-align: center;
  }

  .aboutUs .line {
    display: none;
  }

  .aboutUs .col-2 {
    display: none;
  }

  .aboutUs .paragraph {
    margin-bottom: 50px;
  }

  .aboutUs .story {
    margin-top: 50px;
  }

  .team .col-s-12 {
    margin-bottom: 30px;
  }

  .team .desc {
    padding-bottom: 50px;
  }

  .team h2 {
    margin-top: 50px;
  }

  .rights {
    display: none;
  }

  .logos img {
    margin: 30px;
  }
}
